In [2]:
import pandas as pd

# Prepping the BACI table

In [3]:
dfs = {}

for year in range(2017, 2023):
    file_path = f'data/BACI_HS17_Y{year}_V202501.csv'
    dfs[year] = pd.read_csv(file_path)

In [4]:
all_data = pd.concat(dfs.values(), ignore_index=True)

In [5]:
# all_data.columns = ['Year', 'Product category', 'Exporter', 'Importer', 'Value of trade flow (in thousands current USD)', 'Quantity (in metric tons)']
all_data.columns = ['year', 'product_code', 'exporter', 'importer', 'value', 'quantity']

In [ ]:
all_data.to_csv('all_trade.csv', index=False)

# Prepping the codes

In [12]:
import json

country_codes = pd.read_csv("data/country_codes_V202501.csv")
country_codes = country_codes[['country_code', 'country_name']]
# dict lookup
country_codes_to_names = dict(zip(country_codes['country_code'], country_codes['country_name']))
country_codes_to_names

with open("data/country_codes_to_names.json", "w") as f:
    json.dump(country_codes_to_names, f)

product_codes = pd.read_csv("data/product_codes_HS17_V202501.csv")
product_codes = product_codes[['code', 'description']]
product_codes_to_names = dict(zip(product_codes['code'], product_codes['description']))

with open("data/product_codes_to_names.json", "w") as f:
    json.dump(product_codes_to_names, f)

# The Lookups

In [28]:
df = pd.read_csv("data/product_codes_HS17_V202501.csv")
df

        code                                        description
0      10121           Horses: live, pure-bred breeding animals
1      10129  Horses: live, other than pure-bred breeding an...
2      10130                                        Asses: live
3      10190                            Mules and hinnies: live
4      10221           Cattle: live, pure-bred breeding animals
...      ...                                                ...
5379  970300  Sculptures and statuary: original, in any mate...
5380  970400  Stamps, postage or revenue: stamp-postmarks, f...
5381  970500  Collections and collectors' pieces: of zoologi...
5382  970600    Antiques: of an age exceeding one hundred years
5383  999999        Commodities not specified according to kind

[5384 rows x 2 columns]

In [31]:
product_codes = all_data.product_code.unique()

In [33]:
all_data

          year  product_code  exporter  importer   value  quantity
0         2017             4        12    130120   5.946     1.400
1         2017             4        12    130190   5.125     2.320
2         2017             4        12    401031   0.087     0.002
3         2017             4        12    853890   0.303     0.019
4         2017             4        36     71320   3.538     2.446
...        ...           ...       ...       ...     ...       ...
66078695  2022           894       858    870891   1.313     0.052
66078696  2022           894       858    870895   0.161     0.002
66078697  2022           894       858    870899   0.022     0.001
66078698  2022           894       860    843143  66.201     0.190
66078699  2022           894       860    843149  70.549     0.200

[66078700 rows x 6 columns]

In [32]:
product_codes

array([  4,   8,  12,  16,  20,  24,  28,  31,  32,  36,  40,  44,  48,
        50,  51,  52,  56,  60,  64,  68,  70,  72,  76,  84,  86,  90,
        92,  96, 100, 104, 108, 112, 116, 120, 124, 132, 136, 140, 144,
       148, 152, 156, 162, 166, 170, 174, 178, 180, 184, 188, 191, 192,
       196, 203, 204, 208, 212, 214, 218, 222, 226, 231, 232, 233, 238,
       242, 246, 251, 258, 260, 262, 266, 268, 270, 275, 276, 288, 292,
       296, 300, 304, 308, 316, 320, 324, 328, 332, 340, 344, 348, 352,
       360, 364, 368, 372, 376, 380, 384, 388, 392, 398, 400, 404, 408,
       410, 414, 417, 418, 422, 426, 428, 430, 434, 440, 442, 446, 450,
       454, 458, 462, 466, 470, 478, 480, 484, 490, 496, 498, 499, 500,
       504, 508, 512, 516, 520, 524, 528, 531, 533, 534, 535, 540, 548,
       554, 558, 562, 566, 570, 574, 579, 580, 583, 584, 585, 586, 591,
       598, 600, 604, 608, 612, 616, 620, 624, 626, 634, 642, 643, 646,
       652, 654, 659, 660, 662, 666, 670, 674, 678, 682, 686, 688, 690,
       694, 699, 702, 703, 704, 705, 706, 710, 716, 724, 728, 729, 740,
       748, 752, 757, 760, 762, 764, 768, 772, 776, 780, 784, 788, 792,
       795, 796, 798, 800, 804, 807, 818, 826, 834, 842, 854, 858, 860,
       862, 876, 882, 887, 894])

In [24]:
all_data.dtypes

year              int64
product_code      int64
exporter          int64
importer          int64
value           float64
quantity        float64
dtype: object

In [23]:
all_data.columns

Index(['year', 'product_code', 'exporter', 'importer', 'value', 'quantity'], dtype='object')

In [19]:
all_data.exporter.unique()

array([ 12,  36,  40,  48,  51,  56,  60,  68,  70,  76,  96, 100, 104,
       112, 124, 144, 152, 156, 170, 188, 191, 203, 208, 214, 218, 222,
       233, 246, 251, 268, 276, 300, 304, 320, 340, 344, 348, 352, 360,
       364, 372, 376, 380, 392, 398, 400, 410, 414, 417, 422, 428, 440,
       442, 450, 458, 480, 490, 496, 499, 504, 508, 512, 516, 528, 554,
       558, 579, 586, 591, 600, 604, 616, 620, 642, 643, 688, 699, 703,
       705, 710, 724, 729, 752, 757, 764, 792, 807, 826, 834, 842, 854,
       858, 894,  20, 136, 196, 368, 446, 470, 584, 784, 804,   8,  24,
        31,  32,  50,  84, 116, 120, 132, 140, 174, 178, 192, 204, 226,
       231, 232, 262, 266, 270, 288, 308, 324, 328, 384, 404, 430, 434,
       454, 462, 466, 478, 484, 498, 562, 566, 608, 634, 678, 682, 686,
       694, 702, 704, 706, 716, 760, 762, 768, 788, 818, 860, 887, 242,
       748,  44, 292, 332, 388, 524, 646, 659, 674, 780, 862, 418,   4,
        16,  28,  52,  64,  72,  90,  92, 148, 162, 166, 180, 184, 212,
       238, 258, 296, 316, 426, 500, 520, 531, 540, 548, 570, 574, 580,
       583, 585, 598, 612, 626, 654, 662, 670, 690, 728, 740, 776, 795,
       796, 798, 800, 876, 882, 108, 275, 408, 533, 534, 535, 624, 652,
       660, 772,  86, 260, 666])